{% extends 'base.html'%}
{% load static%}
{% block 'titulo'%}
Dashboard
{% endblock%}

{% block 'conteudo'%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div class="row">
    <div class="col-md-6">

    </div>
    {% if total_full != 0%}
    <div class="col-md-3 col-sm-6">
        <div class="my-2">
            <form action="{% url 'dashboard_mes'%}" method="post">
              {% csrf_token %}
                <select class="form-select" aria-label="Default select example" name="atividade">
                    <option selected value="">Períodos anteriores</option>
                    {% for a in atividade %}
                    <option value="{{a.data__month}},{{a.data__year}}">{{a.mes|date:"M"}}/{{a.data__year}}, registros={{a.count}}</option>
                    {%endfor%}
                  </select>
                  <div class="row">
                    <button type="submit" class="btn btn-primary my-2 mr-3 ml-5">Selecionar</button>
                  </div>
                  
            </form>
        </div>
    </div>
    {%endif%}
    <div class="col-md-3 col-sm-6">
        <div class="text-end my-2">
            <a href="{% url 'despesa'%}" class="text-end btn btn-outline-primary">Lançar despesas</a>
        </div>
    </div>
</div>




<h1 style="padding-top: 20px;" class="text-center text-primary mt-3">Dashboard</h1>
{% include 'parciais/_messages.html'%}

{% if total_full != 0%}

{% if total != 0 %}

{% if user.first_name != ''%}
<h4 style="padding-top: 20px;" class="text-center text-primary mb-3">Despesas por grupo no mês atual de {{user.first_name}} {{user.last_name}}</h4>
{% else %}
<h4 style="padding-top: 20px;" class="text-center text-primary mb-3">Despesas por grupo no mês atual do usuário {{user}}</h4>
{% endif %}
<!--<h3 style="padding-top: 20px;" class="text-center text-info">Total de valor: R$ {{total}}</h3>-->

<div class="row">

  <div class="col-md-6 col-12 my-2">
    <div class="row" style="width: 100%;">
        <div class="col-1 bg-danger" style="border-radius: 20px 0 0 20px; box-shadow: 10px 10px 10px rgb(175, 175, 175);">
            
        </div>
        <div class="col-6 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175);">
            <p class="fs-6 text-success"><b>Acumulado no mês corrente</b></p>
            <p class="fs-3 text-danger">R$ {{total}}</p>
        </div>
        <div class="col-5 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175); border-radius: 0 20px 20px 0;">
            <p class="fs-6 text-secondary">Total de registros</p>
            <p class="fs-3 text-primary"><b>{{registros}}</b></p>
            
        </div>
    </div>
</div>

    {% for d in despesas %}
    <div class="col-md-6 col-12 my-2">
        <div class="row" style="width: 100%;">
            <div class="col-1 bg-success" style="border-radius: 20px 0 0 20px; box-shadow: 10px 10px 10px rgb(175, 175, 175);">
                
            </div>
            <div class="col-6 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175);">
                <p class="fs-6 text-success"><b>{{d.tipo__grupo__grupo}}</b></p>
                <p class="fs-3 text-danger">R$ {{d.total}}</p>
            </div>
            <div class="col-5 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175); border-radius: 0 20px 20px 0;">
                <p class="fs-6 text-secondary">Registros</p>
                <p class="fs-3 text-primary"><b>{{d.count}}</b><a href="{% url 'despesas_dashboard' d.tipo__grupo%}" class="text-end mx-4" title='Ver despesas'><i class="fa-solid fa-eye text-info"></i></a></p>
                
            </div>
        </div>
    </div>
    {% endfor %}
    


</div>

 <!-- Gráfico -->

 
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Grupo de despesa', 'Valor total'],
        {% for d in des %}
        ['{{ d.tipo__grupo__grupo }}',    {{ d.tot }}],
        {% endfor %}
        ]);

        var options = {
          title: 'Despesas por grupo no mês corrente',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>

    <div id="donutchart" style="width: 100%; height: 500px;" class="mt-5"></div>
  



{%endif%}
<hr class="mt-4">
<hr>
<div class="row my-4">
  <div class="col-md-6">

  </div>
  {% if total_full != 0%}
  <div class="col-md-3 col-sm-6">
      <div class="my-2">
          <form action="{% url 'dashboard_ano'%}" method="post" name="form_ano">
            {% csrf_token %}
              <select class="form-select" aria-label="Default select example" name="ativ_ano">
                  <option selected value="">Anos anteriores</option>
                  {% for a in ativ_ano %}
                  <option value="{{a.data__year}}">{{a.data__year}}, registros={{a.count}}</option>
                  {%endfor%}
                </select>
                <div class="row">
                  <button type="submit" class="btn btn-primary my-2 mr-3 ml-5">Selecionar</button>
                </div>
                
          </form>
      </div>
  </div>
  {%endif%}
</div>



{% if grafico_ano.total != 0%}

<div class="row my-4">
  <h1 class="text-center text-primary mb-3">Resumo do ano corrente</h1>
</div>

<div class="row">
  
  <div class="col-md-6 col-12 my-2">
    <div class="row" style="width: 100%;">
        <div class="col-1 bg-danger" style="border-radius: 20px 0 0 20px; box-shadow: 10px 10px 10px rgb(175, 175, 175);">
            
        </div>
        <div class="col-10 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175);">
            <p class="fs-3 text-success"><b>Acumulado do ano corrente</b></p>
            <p class="fs-1 text-danger">R$ {{grafico_ano.total}}</p>
        </div>
        <div class="col-1 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175); border-radius: 0 20px 20px 0;">
            
        </div>
    </div>
</div>


  {% for a in grafico_ano.ano %}
  {% if a.total != 0%}
  <div class="col-md-6 col-12 my-2">
      <div class="row" style="width: 100%;">
          <div class="col-1 bg-info" style="border-radius: 20px 0 0 20px; box-shadow: 10px 10px 10px rgb(175, 175, 175);">
              
          </div>
          <div class="col-6 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175);">
              <p class="fs-6 text-success"><b>{{a.mes}}</b></p>
              <p class="fs-3 text-danger">R$ {{a.total}}</p>
          </div>
          <div class="col-5 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175); border-radius: 0 20px 20px 0;">
              <p class="fs-6 text-secondary">Registros</p>
              <p class="fs-3 text-primary"><b>{{a.registros}}</b></p>
              
          </div>
      </div>
  </div>
  {% endif %}
  {% endfor %}
  


</div>

<!-- Gráfico -->

<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
       ['Mês', 'Total', { role: 'style' }],
       {% for a in grafico_ano.grafico %}
       ['{{a.mes}}', {{a.total}}, '{{a.cor}}'],
       {% endfor %}           
      ]);

      var options = {
        title: 'Despesas no ano corrente',
        legend: { position: "none" },
      };

      var chart = new google.visualization.BarChart(document.getElementById('barchart'));
      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div id="barchart" style="width: 100%; height: 500px;" class="mt-5"></div>
</body>
</html>
{%endif%}

<hr class="mt-4">
<hr>

<div class="row my-4">
  <h1 class="text-center text-primary mb-3">Resumo de gastos de todos os períodos</h1>
</div>

<div class="row">
  
  <div class="col-md-6 col-12 my-2">
    <div class="row" style="width: 100%;">
        <div class="col-1 bg-danger" style="border-radius: 20px 0 0 20px; box-shadow: 10px 10px 10px rgb(175, 175, 175);">
            
        </div>
        <div class="col-10 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175);">
            <p class="fs-3 text-success"><b>Acumulado de todos os períodos</b></p>
            <p class="fs-1 text-danger">R$ {{total_full}}</p>
        </div>
        <div class="col-1 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175); border-radius: 0 20px 20px 0;">
            
        </div>
    </div>
</div>


  {% for a in despesas_full %}
  <div class="col-md-6 col-12 my-2">
      <div class="row" style="width: 100%;">
          <div class="col-1 bg-info" style="border-radius: 20px 0 0 20px; box-shadow: 10px 10px 10px rgb(175, 175, 175);">
              
          </div>
          <div class="col-6 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175);">
              <p class="fs-6 text-success"><b>{{a.data__year}}</b></p>
              <p class="fs-3 text-danger">R$ {{a.total}}</p>
          </div>
          <div class="col-5 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175); border-radius: 0 20px 20px 0;">
              <p class="fs-6 text-secondary">Registros</p>
              <p class="fs-3 text-primary"><b>{{a.count}}</b></p>
              
          </div>
      </div>
  </div>
  {% endfor %}
  


</div>

<!-- Gráfico -->

<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
       ['Ano', 'Total'],
       {% for a in despesas_full %}
       ['{{a.data__year}}', {{a.tot}}],
       {% endfor %}           
      ]);

      var options = {
        title: 'Total acumulado por ano para {{user.first_name}} {{user.last_name}}',
        
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
  </script>
</head>
<body>
  <div id="piechart" style="width: 100%; height: 500px;" class="mt-5"></div>
</body>
</html>
{%endif%}

{% endblock %}