{% extends 'base.html'%}
{% load static%}
{% block 'titulo'%}
Dashboard do ano de {{ano}}
{% endblock%}

{% block 'conteudo'%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard do ano de {{ano}}</li>
  </ol>
</nav>

<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6 col-sm-6">
        <div class="text-end my-2">
            <a href="{% url 'despesa'%}" class="text-end btn btn-outline-primary">Lançar despesas</a>
        </div>

        <div class="text-end my-2">
          <a href="{% url 'dashboard_ano_print'%}?ano={{ano}}" class="text-end btn btn-outline-primary" target="_blank">Preparar para impressão <i class="fa-solid fa-print"></i></a>
        </div>
    </div>
</div>




<h1 style="padding-top: 20px;" class="text-center text-primary mt-3">Dashboard do ano de {{ano}}</h1>
{% include 'parciais/_messages.html'%}
{% if user.first_name != ''%}
<h4 style="padding-top: 20px;" class="text-center text-primary mb-3">Despesas de {{user.first_name}} {{user.last_name}} no ano de {{ano}}</h4>
{% else %}
<h4 style="padding-top: 20px;" class="text-center text-primary mb-3">Despesas do usuário {{user}} no ano de {{ano}}</h4>
{% endif %}
{% if total != 0 %}
<div class="row">

  <div class="col-md-6 col-12 my-2">
    <div class="row" style="width: 100%;">
        <div class="col-1 bg-danger" style="border-radius: 20px 0 0 20px; box-shadow: 10px 10px 10px rgb(175, 175, 175);">
            
        </div>
        <div class="col-10 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175);">
            <p class="fs-3 text-success"><b>Acumulado do ano de {{ano}}</b></p>
            <p class="fs-1 text-danger">R$ {{grafico.total}}</p>
        </div>
        <div class="col-1 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175); border-radius: 0 20px 20px 0;">
            
        </div>
    </div>
</div>
  
    {% for a in grafico.ano %}
    {% if a.total != 0%}
    <div class="col-md-6 col-12 my-2">
        <div class="row" style="width: 100%;">
            <div class="col-1 bg-success" style="border-radius: 20px 0 0 20px; box-shadow: 10px 10px 10px rgb(175, 175, 175);">
                
            </div>
            <div class="col-6 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175);">
                <p class="fs-6 text-success"><b>{{a.mes}}</b></p>
                <p class="fs-3 text-danger">R$ {{a.total}}</p>
            </div>
            <div class="col-5 bg-light" style="box-shadow: 10px 10px 10px rgb(175, 175, 175); border-radius: 0 20px 20px 0;">
                <p class="fs-6 text-secondary">Registros</p>
                <p class="fs-3 text-primary"><b>{{a.registros}}</b></p>
                
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    


</div>

 <!-- Gráfico -->

 <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
         ['Mês', 'Total', { role: 'style' }],
         {% for a in grafico.grafico %}
         ['{{a.mes}}', {{a.total}}, '{{a.cor}}'],
         {% endfor %}           
        ]);

        var options = {
          title: 'Despesas no ano de {{ano}}',
          legend: { position: "none" },
        };

        var chart = new google.visualization.BarChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="donutchart" style="width: 100%; height: 500px;" class="mt-5"></div>
  </body>
</html>
{%endif%}

{% endblock %}